
ul.input
{list-style: none; margin: 0px; padding: 0px;}

ul.input li
{display: inline;}



label.header, .hint
{display: block;}

img.calendar
{
 margin: 0em 0.5em;
 line-height: 1em;
}

.icon
{cursor: pointer;}

em.accesskey
{font-style: normal; border-bottom: dotted 1px;}

.error
{background-color: #FFCCCC;}