*
{margin: 0; border-width: 0; padding: 0;}

*
{
	box-sizing: border-box;
}

ul,ol
{list-style: none;}

hr
{border-top-width: 1px;}

.break {float: none; clear: both;}
.left  {float: left; clear: left;}
.right {float: right; clear: right;}
.col2 {width: 50%}